<h1>DJTTP: Events</h1>
  <div class="row event">
    <%= form_for @event do |f| %>
      <div class="col-xs-12">
        Name: <%= f.text_field :name %>
        Date: <%= f.date_field :date %>
      </div>
      <div class="col-xs-12">
        
      </div>
    <%= f.hidden_field :host_id, :value=>@current_user.id %>
    <%= f.submit %>
    <% end %>
  </div>

<% current_user.reservations.each do |event| %>
  <p class="event-date"><%= event.date %></p>
  <div class="row event">
    <div class="divider"></div>
      <div class="col-xs-12 verticalLine">
        <h3 class='event-name'><%=link_to(event.name, event_path(event)) %></h3>    
        <p>Guest Count: <%= event.guests.count %></p>
        <a href="<%= event.playlist.url %>" target="_blank">Spotify Playlist Link</a>
      </div>
      <div class="col-xs-12">
        <%= link_to("edit", edit_event_path(event)) %>
      </div>
  </div>
<% end %>

