<h1>Welcome to DJTTP</h1>
<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<%= flash[:error] %>
<%= flash[:notice] %>
<br>
<br>
Create a Guest Account
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<div class="field<%= ' field_with_errors' if @user.errors[:display_name].any? %>">
Name  <%= f.text_field :display_name %>
</div>
<div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
Password:  <%= f.password_field :password %>
</div>
<div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
Email: <%= f.email_field :email %>
</div>
Favorite Songs: <%= f.fields_for :songs do |s| %>
<%= s.text_field :name %>
<% end %>
<%= f.submit %>
<% end %>
<br>
Sign In 
<%= form_for :user, url: {controller: "users", action: "login", method: "post"} do |f|%>
Name:  <%= f.text_field :display_name %>
Password:  <%= f.password_field :password %>
<%= f.submit "Login" %>
<% end %>
