<h1>DJTTP: My Events</h1>
  <div class="row event">
    <div id="js-error-messages">
      
    </div>
    <%= form_for @event do |f| %>
      <div class="col-xs-12">
        Name: <%= f.text_field :name, :required => true %>
        Date: <%= f.date_field :date, :required => true %>
      </div>
      <div class="col-xs-12">
        
      </div>
    <%= f.hidden_field :host_id, :value=>@current_user.id %>
    <%= f.submit %>
    <% end %>
  </div>


  <ul id="js-events-list">
    
  </ul>

