<h1 class="home-header">DJTTP: Home</h1>

      <div class="row event">
          <div class="divider"></div>
          <div class="col-xs-12 event-details">
            <h3 class='event-form-header'>Create an Event</h3>
      <%= form_for @event do |f| %>
          <%= f.text_field :name, :required => true, placeholder: "Name" %>
          <%= f.text_field :date, :required => true, placeholder: "Date", id: "datepicker" %>
      <%= f.hidden_field :host_id, :value=>@current_user.id %>
    <div id="error-messages"></div>
          </div>
          <div class="col-xs-12 create-event-button">
    <%= f.submit "Create Event", :class => "create-event-button" %>
      <% end %>
          </div>
      </div>
  <hr>
  <h2 class="my-events">My Events</h2>
  <ul id="js-events-list">
    
  </ul>

