<h1>Event#show</h1>
<%= @event.date %>
<%= @event.name %>
Guest List:
<% @event.guests.each do |guest| %>
  <%= guest.display_name %>
  <br>
<% end %>
<a href="<%= @event.playlist.spotify_url %>" target="_blank"><%= @event.playlist.spotify_url %></a>
<%= link_to("RSVP", :controller => :events, :action => :guest) unless @event.guests.include? current_user%>
<% if @event.host == current_user %>
<%= link_to("Refresh Playlist", :controller => :events, :action=> :refresh_playlist) %>
<% end %>

<% @event.playlist.playlist_songs.each do |playlist_song| %>
  <%= Song.find(playlist_song.song_id).name %>
  <%= playlist_song.request_count %>
<% end %>
