<div class="navbar-flex">
  <% if @current_user %>
  <a href="<%= root_path %>" target="">
    <div class: "navbar-logo">
    <%= img_path(asset_path("small-icon.png")) %>
    <span>Playlister</span>
    </div>
  </a>
    <div class="hoverbar">
      <p>Hello  <%= @current_user.display_name %></p>
      <div class="hide-init">
        <%= link_to("home", root_path) %>
        <%= link_to("logout", logout_path, method: :post) %>
      </div>
    </div>
  <% end %>
</div>
